@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="index-background-container">
    <header>
        <!-- Header content goes here -->
    </header>
    <div class="login-card">
        <div class="title">USI Chatbot Solution</div>
        <form>
            <div class="form-group">
                <label for="username" class="text-dark">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password" class="text-dark">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="forgot-password-button">Forgot Password?</button>
            <div class="create-account-text">Don't have an account? <a asp-page="/Privacy">Create one</a>.</div>
        </form>
    </div>
    <footer>
        <!-- Footer content goes here -->

<<<<<<< HEAD
<!DOCTYPE html>

<html>

<head>

    <title>Faculty Portal</title>

    <link rel="stylesheet" type="text/css" href="~/css/loginPage.css" />

</head>

<body>

    <div class="login-container">

        <div class="login-logo">

            <img src="Images/screaming-eagles-logo.png" alt="Southern Indiana Screaming Eagles">

            <h2>Chat-Bot Solution</h2>

        </div>

        <div class="login-form">

            <h1>Faculty Portal</h1>

            <form id="form1" runat="server">

                <div>

                    <label for="Email">Email address</label>

                    <input type="text" id="Email" runat="server" />

                </div>

                <div>

                    <label for="Password">Password</label>

                    <input type="password" id="Password" runat="server" />

                </div>

                <div>

                    <button type="submit" runat="server" onserverclick="Login_Click">Login to Continue</button>

                </div>

                <div class="login-footer">

                    Don't have an account? <a href="SignUp.aspx">Sign up</a>

                </div>

            </form>

        </div>

    </div>

</body>

</html> 
=======
    </footer>
</div>
>>>>>>> origin/master
